a{
  text-decoration: none !important;
}
.header .container{
  max-width: 1440px !important;
}
.web-header{
  padding-top: 13px;
  padding-bottom: 13px;
}
.web-header h6{
  font-size: 15px !important;
  color: #7b7b7b !important;
  cursor: pointer;
  margin-left: 35px;
  margin-top: 10px !important;
}
.web-header h6.active, h6:hover{
  color: #e73540 !important;
}
.web-header h6 img{
  top: -13px;
  right: -15px;
}
.search-bar{
  width: 380px;
  max-width: 380px!important;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 8px;
}
.search-bar input{
  background: #f1f1f1!important;
  height: 48px!important;
  border-radius: 8px!important;
  border: 1px solid transparent!important;
  border-bottom: 0!important;
  font-size: 16px!important;
  padding-left: 3.5rem;
  padding-right: 1rem;
  transition: width .3s;
}
.search-bar input::before{
  position: absolute;
  left: 10px;
  content: "";
  width: 40px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://mistry.store/images/search-icon.svg) 50% no-repeat;
  background-size: 25px;
  top: 0;
  z-index: 999;
}
.search-bar input::placeholder{
  color: #191919 !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}
.dropdown-toggle{
  background: transparent!important;
}
.login-btn{
  height: 45px;
  border: 1px solid #e73540;
  box-shadow: 0 1px 2px rgba(0,0,0,.16);
  transition: all .2s;
  background-color: #e73540;
  color: #fff;
  font-size: 15px;
  padding: 0 1.25rem;
  border-radius: 8px;
}
.login-btn:hover{
  background-color: #fff;
  color: #e73540;
}
.story-item{
  width: 64px !important;
  height: 64px;
  background: linear-gradient(225deg,#8a3bee,#f200b7 39%,#fe9402 91.67%);
}
.story-image{
  background-color: #fff;
  width: 60px;
  height: 60px;
  padding: 2px;
}
.w-116 h5{
  color: #191919 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  margin: 0 !important;
  text-align: center;
}
.w-116{
  width: 116px;
}
.brands{
  box-shadow: 0 0 12px 0 rgba(0,0,0,.06);
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 16px;
  color: #191919;
}
.brand-partner{
  border-radius: 8px;
  background: #f8f8f8;
  border: 1px solid #f2f3f7;
  min-height: 220px;
  min-width: 230px;
  max-width: 230px;
}
.brand-partner h5{
  color: #191919 !important;
  font-size: 15px !important;
  font-weight: 600 !important;

}
.b-img{
  min-height: 40px;
  max-height: 40px;
}
.b-img img{
  min-height: 40px;
  max-height: 40px;
}
.p{
  font-size: 14px;
  color: #72777a;
}
.h3-price{
  color: #e73540;
  font-size: 24px;
}
.span{
  font-size: 13px;
  color: #191919;
}
.slick-dots li{
  margin: 0 3px !important;
  width: auto !important;
}
.slick-dots li button{
  padding: 0 !important;
  width: 16px !important;
  margin: 0 !important;
  height: 6px !important;
  border-radius: 10px !important;
  background: hsla(203,3%,46%,.6)!important;
}
.slick-dots li button::before{
  content: '' !important;
}
.slick-dots .slick-active button{
width: 28px !important;
background: #191919 !important;
}
.banners{
  border-radius: 16px;
}
.banners img{
  border-radius: 16px;
}
.offer-card{
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.06);
  border-radius: 16px;
}
.offer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://mistry.store/images/offer-frame.png) no-repeat 50%;
    min-width: 64px;
    min-height: 64px;
    border-radius: 12px 0 0 12px;
}
.offer-card h4{
  font-size: 16px;
  color: #191919;
}
.offer-card p{
  font-size: 12px;
  color: #72777a;
}
.line-clamp-1{
  display: -webkit-box!important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}
.floating-label{
  background-color: #ffea00;
}
@keyframes Label{
  0%{
      transform: translateX(120%);
  }
  100%{
      transform: translateX(-100%);
  }
}
.label-main{
  overflow: hidden;
  white-space: nowrap;
}
.inner-label{
  display: inline-block;
  margin: 0;
  animation: Label 14s infinite linear;
}
.about-label{
  font-size: 15px;
  color: #e73540;
}
.requirement-box{
  background: linear-gradient(85.45deg,#e6eefd 3.69%,#fff 96.31%);
  border: 1px solid #f2f3f7;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
  border-radius: 32px;
}
.requirement-box p{
  font-size: 28px;
  color: #72777a;
}
.requirement-box span{
  color: #e73540;
}
.order-btn{
  height: 45px;
  border: 1px solid #e73540;
  box-shadow: 0 1px 2px rgba(0,0,0,.16);
  transition: all .2s;
  background-color: #e73540;
  color: #fff;
  font-size: 14px;
  padding: 0 1.25rem;
  border-radius: 8px;
}
.order-btn:hover{
  color: #e73540;
  background-color: #fff;
}
.building-section{
  background: linear-gradient(150.74deg,#faf3e9 49.09%,#eceefd 96.67%);
  padding: 60px 0;
}
.building-section h3{
  color: #191919;
  font-size: 40px;
  font-weight: 400;
}
.building-section p{
  font-size: 20px;
  font-weight: 400;
}
.how-works-box img{
  min-width: 64px;
}
.how-works-box h5{
  color: #191919;
}
.how-works-box p{
  font-size: 17px;
  color: #72777a;
}
.video-box{
  box-shadow: inset 0 0 35px #000;
  background: url(https://mistry.store/images/yt-thumb-1.webp) no-repeat;
  background-size: cover;
  border-radius: 16px;
  min-height: 424px;
  z-index: 2;
}
.video-box h3{
  font-size: 20px;
}
.svg-copylink{
  font-size: 28px;
  width: 0.875em;
  height: 1em;
  display: inline-block;
  overflow: visible;
  vertical-align: -0.125em;
  cursor: pointer;
}
.copy-link p{
  font-size: 16px;
}
.copy-link{
  cursor: pointer;
}
.yt-play-video{
  top: 44%;
  left: 42%;
  z-index: 9;
  cursor: pointer;
}
.watch-yt{
  display: block;
  padding: 8px 16px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  left: 0;
  font-size: 18px;
  bottom: 1rem;
  z-index: 9;
  background-color: rgba(0,0,0,.7);
  text-decoration: none;
}
.dots-img{
  bottom: -20px;
  right: -55px;
  z-index: 1;
}
.watch-yt img{
  height: 50px;
}
.refer-box{
  background: linear-gradient(85.45deg,#f7fde6 3.69%,#fff 96.31%);
  border: 1px solid #f2f3f7;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
  border-radius: 32px;
}
.refer-box p{
  font-size: 28px;
  color: #72777a;
}
.refer-box span{
  color: #e73540;
}
.register-section{
  background-image: url(https://mistry.store/images/home/benefits-bg.png),url(https://mistry.store/images/home/benefits-bg-1.png) !important;
  background-position: top 21% left 2%,top 43% right 9% !important;
  background-repeat: no-repeat !important;
  padding: 60px 0;
  z-index: 999;
}
.register-section{
  background: #002f6c;
}
.register-section h2{
  font-size: 36px;
}
.register-section span{
  color: #e73540;
}
.red-dot-bg{
  background-image: url(https://mistry.store/images/home/red-dot-grid.png);
  background-position: bottom 0 right 88%;
  background-repeat: no-repeat;
}
.benefits{
  max-width: 450px;
}
.benefits-box {
  width: 180px;
  height: 180px;
  border-radius: 18px;
  background: #fff5f5;
}
.benefits-box h6{
  color: #191919;
  font-size: 13px;
}
.benefits-box p{
  color: #72777a;
  font-size: 11px;
}
.trusted-section{
  padding: 60px 0;
}
.trusted-box{
  background: #fff;
  border: 1px solid #f2f3f7;
  box-shadow: 0 4px 12px rgba(0,0,0,.06);
  border-radius: 16px;
}
.trusted-box h3{
  color: #191919;
  font-size: 40px;
}
.trusted-box span{
  color: #e73540;
  font-size: 40px;
}
.trusted-nav ul{
  list-style: none;
  padding-left: 0;
}
.trusted-nav ul li a{
  border: 1.5px solid hsla(203,3%,46%,.6)!important;
  border-radius: 83.3333px;
  padding: 10px 30px;
  height: 45px;
  transition: all .2s;
  white-space: nowrap;
  font-size: 16px;
  cursor: pointer;
  color: rgb(49 44 44 / 60%) !important;
}
.trusted-nav ul li a.active, .trusted-nav ul li a:hover{
  color: #fff !important;
  background-color: #191919!important;
  border-color: #191919!important;
}
.trusted-companies{
  background: #f8f8f8;
  border: 1px solid #f2f3f7;
  border-radius: 16px;
  width: 120px;
  height: 120px;
  margin-right: 24px!important;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.flash-deals-box{
  padding: 60px 0;
}
.flash-deals-box h2{
  font-size: 40px;
  color: #191919;
  font-weight: 300;
}
.flash-deals-box h3{
  font-size: 40px;
}
.gray-bg{
  top: -60px;
  left: -67px;
}
.flash-deals-box p{
  line-height: 1.8;
  font-size: 18px;
  color: #191919;
}
.building-box{
  background: #fff;
  box-shadow: 0 0 23.2841px rgba(0,0,0,.06);
  border-radius: 33.529px;
  min-width: 230px;
  max-width: 230px;
  min-height: 230px;
}
.building-box img{
  height: 62px;
}
.building-box h5{
  font-size: 16px;
  color: #191919;
}
.building-box p{
  font-size: 14px;
  color: #72777a;
  line-height: 24px;
}
.community-section{
  padding: 60px 0;
}
.community{
  background-image: url(https://mistry.store/images/home/community-bg.png);
  background-size: 112px 175px;
  background-repeat: no-repeat;
  background-position: bottom 120px right 4px;
}
.community h2{
  font-size: 40px;
  color: #191919;
}
.community-row{
  max-width: 970px;
}
.community-box{
  max-width: 210px !important;
}
.community-box img{
  min-height: 230px;
  border-radius: 10px;
  transition: all .4s;
}
.community-box h3{
  font-size: 20px;
  color: #0e0e0e;
}
.community-box h3:hover{
  color: #e73540;
}
.download-section{
  background: #f3f3f3;
}
.download-section h2{
  font-size: 40px;
}
.professional-section{
  background-image: url(https://mistry.store/images/home/professnole-bg-01.png),url(https://mistry.store/images/home/professnole-bg-02.png);
  background-position: 0 0,100% 100%;
  background-repeat: no-repeat;
  background-color: #ef3340 !important;
  padding: 60px 0;
}
.professional-section h2{
  font-size: 40px;
  color: hsl(0deg 0% 100% / 80%);
}
.professional-section h5{
  font-size: 16px;
}
.professional-section .card{
  padding: 12px !important;
  border-radius: 20px !important;
}
.cursor-pointer{
  cursor: pointer;
}
.card-body h5{
  font-size: 14px;
  color: #191919;
}
.card-body h6{
  font-size: 10px;
  color: #191919;
}
.card-body p{
  font-size: 12px;
  color: #191919;
}
.line-clamp-4{
  display: -webkit-box!important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.news-section{
  background: #f3f3f3;
  padding: 60px 0;
}
.news-section .card{
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,.1);
  border-radius: 8px;
}
.news-section h2{
  font-size: 40px
}
.news-img{
  max-height: 150px!important;
  max-width: 100%!important;
  object-fit: cover;
}
.news-section .card-body p{
  font-size: 18px;
}
.news-section .card-body a{
  color: #e73540 !important;
  font-size: 14px;
}
.footer-contact-box{
  background: #002f6c;
  bottom: -224px;
  background-image: url(https://mistry.store/_next/static/media/footer-bg-left.13e3db03.png),url(https://mistry.store/_next/static/media/footer-bg-right.a0d0fd78.png);
  background-position: bottom -32px left -20px,top -51px right -1px;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 40px 69px;
}
.web-footer{
  background: #f3f3f3;
  padding-top: 50px;
}
.home-footer{
  background: #f3f3f3;
  padding-top: 90px;
  margin-top: 100px;
}
.footer-contact-box a{
  font-size: 16px;
}
.web-footer ul{
  padding-left: 0;
  list-style: none;
}
.web-footer ul li a{
  font-size: 14px;
  color: #191919 !important;
}
.web-footer ul li a:hover{
  color: #e73540 !important;
}
.footer-contact{
  color: #191919;
  font-size: 22px;
}
.social-icon{
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all .2s;
}
.about-section {
  padding: 60px 0;
  background: url(https://mistry.store/images/section-bg.webp) 100% no-repeat;
  background-size: 80%;
}
.about-section h1{
  font-size: 50px;
  color: #0e0e0e;
  line-height: 75px;
}
.about-section span{
  color: #e73540;
}
.about-content h6{
  color: #e73540;
}
.about-content p{
  color: rgb(0 0 0 / 60%);
  line-height: 30px;
  font-size: 17px;
}
.bridge-section{
  padding: 60px 0;
}
.bridge-section h2{
  color: #e73540;
  font-size: 40px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}
.bridge-section img{
  height: 576px;
}
.bridge-section p{
  font-size: 17px;
  color: rgb(0 0 0 / 60%);
  line-height: 30px;
}
.red-color{
  color: #e73540 !important;
}
.store-section h2{
  font-size: 28px;
  color: #0e0e0e;
  line-height: 38px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #ccc;
}
.store-section h3{
  font-size: 28px;
  color: #e73540;
}
.store-section p{
  font-size: 16px;
  color: #0e0e0e;
  line-height: 26px;
}
.founder-section{
  padding: 40px 0;
}
.founder-section h3{
  color: #e73540;
  font-size: 28px;
}
.founder-section h4{
  color: #0e0e0e;
  font-size: 24px;
}
.founder-section p{
  color: rgb(0 0 0 / 60%);
  font-size: 16px;
  line-height: 26px;
}
.partner h6{
  font-size: 20px;
  color: rgb(0 0 0 / 60%);
}
.partner h2{
  font-size: 35px;
  color: #44382e;
  line-height: 50px;
}
.go-to-icon{
  border: 2px solid #e73540;
  width: 4rem;
  height: 4rem;
  transition: all .2s;
  color: #e73540;
}
.go-to-icon:hover{
  color: #fff !important;
  background: #e73540 !important;
}
.go-to-svg{
  overflow: visible;
  width: 0.625em;
  height: 1em;
  display: inline-block;
  font-size: inherit;
  vertical-align: -0.125em;
}